.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  

/* {
    text-align: center;
    background-color:white;
    }
     */
    .label{
    display: block;
    font-size: larger;
    color: white;
    padding: 5px;
    }
    
    .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
    
    }
    .btn{
    color:BLACK;
    background-color:blueviolet;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    background-color: blueviolet;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
    .input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 10px;
    }